<nav class="navbar navbar-expand-lg bg-black">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="">Ludoteca</a>
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Usuarios
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" routerLink="/usuarios/listado">Listado</a></li>
                        <li><a class="dropdown-item" routerLink="/usuarios/agregar">Crear</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Juegos
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" routerLink="/juegos/listado">Listado</a></li>
                        <li><a class="dropdown-item" routerLink="/juegos/agregar">Crear</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Alquileres
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" routerLink="/alquileres/listado">Listado</a></li>
                        <li><a class="dropdown-item" routerLink="/alquileres/agregar">Crear</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>